.script-editor {
    flex: 1;
    display: flex;
    flex-direction: column;

    >.workspace {
        flex: 1;
        display: flex;
        flex-direction: row;

        >.files {
            width: 250px;
            max-height: 100%;
            display: flex;
            flex-direction: column;
            padding: 10px 0px;

            * {
                user-select: none;
            }

            >.group {
                display: flex;
                flex-direction: column;
                overflow-y: auto;

                >.header {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 5px;
                    padding: 5px 10px;
                    cursor: pointer;
                    background-color: var(--gray5);

                    &:hover {
                        background-color: var(--gray3);
                    }

                    &:active {
                        background-color: var(--gray4);
                    }
                }

                >.tree {
                    margin: 15px;
                    overflow: hidden;
                }

                .tree {
                    display: flex;
                    flex-direction: column;
                    font-size: .8rem;
                    padding-left: 25px;

                    .icon {
                        width: 20px;
                        min-width: 20px;
                        height: 20px;
                        min-height: 20px;
                    }

                    >.folder {
                        display: flex;
                        flex-direction: column;
                        margin-left: -25px;

                        >.title {
                            position: relative;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 5px;
                            overflow: hidden;

                            &.modified {
                                &::after {
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    right: 0px;
                                    transform: translateY(-50%);
                                    width: 8px;
                                    height: 8px;
                                    background-color: var(--prettify-orange-2);
                                    border-radius: 50%;
                                    opacity: .5;
                                }

                                >span {
                                    color: var(--prettify-orange-2);
                                }
                            }

                            >.icon {
                                fill: var(--prettify-silver);
                            }
                        }

                        >.children {
                            display: flex;
                            flex-direction: column;
                            margin-left: 12px;
                            padding-left: 0px;
                            border-left: 1px solid var(--gray2);
                        }
                    }

                    >.file {
                        position: relative;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 5px;
                        gap: 5px;
                        border-radius: 10px;
                        border: 1px solid transparent;
                        overflow: hidden;
                        word-break: keep-all;
                        white-space: nowrap;

                        &.active {
                            background-color: var(--gray6);
                            border-color: var(--gray2);
                        }

                        &.modified {
                            color: var(--prettify-orange-2);

                            &::after {
                                content: "M";
                                position: absolute;
                                top: 50%;
                                right: 0px;
                                transform: translateY(-50%);
                                color: var(--prettify-orange-2);
                                border-radius: 50%;
                                opacity: .7;
                            }
                        }

                        >.icon {
                            fill: var(--prettify-blue);
                        }
                    }

                    >.folder>.title,
                    >.file {
                        cursor: pointer;

                        &:hover {
                            opacity: .7;
                        }

                        &:active {
                            opacity: .4;
                        }
                    }
                }
            }
        }

        >section {
            flex: 1;
            border: 1px solid var(--gray2);
            border-right: none;
            border-radius: 10px 0px 0px 10px;

            * {
                --vscode-editor-background: transparent;
                --vscode-editorGutter-background: transparent;
            }
        }
    }
}